/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(248, 200, 220, 0.3), rgba(181, 234, 215, 0.3)), 
                url('../public/images/photo_welcome.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    margin-top: 80px;
}

.hero-content {
    max-width: 800px;
    margin: 150px auto 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
